#dataset
/num_plate_dataset/
/ocr_dataset/

#results
/confusion_matrix.png
/training_curves.png
/predictions.csv

/runs/

#models
/yolo26m.pt 
/yolo26n.pt
/best_resnet_plate_chars.pt

#images
/cropped-detections/
/ocr-inference/
/images/
/cropped-plates/
/verified-plates/

#video
/videos

#json files
/json_files/